.row {
    background-color: #595959;
    color: #F2F2F2;
    text-align: center;
    padding: 2em 2em 0.5em;
    width: 90%;
    margin: 2em auto;
    border-radius: 5px;
  }
  
  .form-group {
    margin: 0.5em 0;
  }
  
  .form-group input {
    display: block;
    padding: 0.5em;
    width: 100%;
    margin-top: 1em;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #A5A5A5;
    color: #CCCCCC;
  }
  
  .form-group input:focus {
    background-color: #F2F2F2;
    color: #000;
    border: none;
    padding: 1em 0.5em;
  }
  
  .form-group button {
    margin-top: 2em;
    padding: 1em;
    background-color: #F2F2F2;
    border: 1px solid #333;
    color: #333;
    font-weight: 800;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
  }
  
  .error {
    color: red;
    margin-top: 1em;
  }
  
  .success {
    color: green;
    margin-top: 1em;
  }
  